html { 
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
 }

.news-container > .column {
      flex: 1 1 150px;
}

.news-container > .column > a > img {
    width: 100%;      
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
}

.img-class {
    z-index: -1;
}

.news-container > .column > .text-over {
    color: #f5efef;
    z-index: 1;
    transform: translate(0 ,-170%);
    background-color:hsla(345, 60%, 70%, 0.63);
    opacity: 0;
}

.text-over a {
    text-decoration: none;
    color: #f5efef;
}

.news-container > .column:hover .text-over  {    
    opacity: 1;
}